{% extends 'database/base.html' %}
{% load static %}

{% block title %}DQ1 たいようの紋章{% endblock %}

{% block content %}

<!-- 上部バナー -->
<div class="main-banner mb-4">
    <img src="{% static 'database/images/dq1_cover1.jpg' %}" alt="DQ1" class="top-image">
</div>

<div class="content-wrapper">
    <!-- サイドバー -->
    <aside class="sidebar">
        <h4>目次</h4>
        <ul class="toc-list main-toc">
            <li><a href="{% url 'database:dq1_guide' %}#story">▶ ストーリー攻略</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#boss">▶ ボス攻略</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#items">▶ アイテム</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#map">▶ マップ</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#scrolls">▶ 巻物</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#monster">▶ モンスター</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#medal">▶ お役立ち機能</a></li>
        </ul>
    </aside>

    <!-- メインコンテンツ -->
    <main class="main-content">
        <div class="step-content">
            <img src="{% static 'database/images/dq1/item/taiyounomonshou/banner.jpg' %}">
        </div>

        <div class="step-card">
            <div class="step-header">
                <div class="black-yellow-band text-center">たいようの紋章の効果</div>
            </div>

            <div class="step-content">
                <div class="step-number text-center">一部の特技でも会心の一撃が発生するようになる</div><br>
                
                <div class="step-text"><br>「たいようの紋章」を手に入れると、通常攻撃だけでなく一部の特技でも会心の一撃が発生するようになります。<br>
                    <br>
                    これにより、特技中心の戦闘スタイルでも大ダメージを狙えるようになり、攻撃面の火力が大幅に向上します。<br>
                    特にボス戦などでは、会心が発生することで一気に戦況を有利に進められる強力な効果です。
                </div><br>
                
                <div class="step-number text-center">対象になる特技一覧</div><br>

                <div class="area-table-3col-wrapper">
                    <div class="area-table-3col">
                        
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="#">
                                    <div class="area-item">
                                        <div class="area-name">けもの突き</div>
                                    </div>
                                </a>
                            </div>  
                            <div class="area-cell">
                                <a href="#" class="scroll-link">
                                    <div class="area-item">
                                        <div class="area-name">かえん斬り</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="#" class="scroll-link">
                                    <div class="area-item">
                                        <div class="area-name">ドラゴン斬り</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="#">
                                    <div class="area-item">
                                        <div class="area-name">しんくう斬り</div>
                                    </div>
                                </a>
                            </div>  
                            <div class="area-cell">
                                <a href="#" class="scroll-link">
                                    <div class="area-item">
                                        <div class="area-name">いなずま斬り</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="#" class="scroll-link">
                                    <div class="area-item">
                                        <div class="area-name">はやぶさ斬り</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="#">
                                    <div class="area-item">
                                        <div class="area-name">ギガスラッシュ</div>
                                    </div>
                                </a>
                            </div>  
                            <div class="area-cell">
                                <a href="#" class="scroll-link">
                                    <div class="area-item">
                                        <div class="area-name">ミラクルソード</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="#" class="scroll-link">
                                    <div class="area-item">
                                        <div class="area-name">ゾンビ斬り</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="#">
                                    <div class="area-item">
                                        <div class="area-name">あくま斬り</div>
                                    </div>
                                </a>
                            </div>  
                            <div class="area-cell">
                                <a href="#" class="scroll-link">
                                    <div class="area-item">
                                        <div class="area-name">やいばくだき</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="#" class="scroll-link">
                                    <div class="area-item">
                                        <div class="area-name">マヒャド斬り</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><br>
            </div>

            <div class="step-header">
                <div class="black-yellow-band text-center">たいようの紋章の入手方法</div>
            </div>

            <div class="step-content">
                <div class="step-number text-center">迷いの森で不滅の炎を入手し交換</div><br>
                <img src="{% static 'database/images/dq1/item/taiyounomonshou/1.jpg' %}"><br><br>
                <div class="step-text">「たいようの紋章」は、迷いの森で手に入る「不滅の炎」を、妖精の隠れ里にいる妖精に渡して交換することで入手できます。<br>
                    <br>
                    不滅の炎は森の奥に配置されており、道が入り組んでいるためマップを見ながら探すと良いでしょう。</div><br><br>
                <div class="text-center mb-5">
                    <a href="{% url 'database:dq1_section3_content' %}" class="btn-story-link">
                        ▶ 迷いの森から岩泣き島までの攻略
                    </a>
                </div>
                
                <div class="step-number text-center">迷いの森の場所</div><br>

                <div class="area-place-table">

                    <div class="apt-row">
                        <div class="apt-cell">
                            <img src="{% static 'database/images/dq1/item/taiyounomonshou/2.jpg' %}" class="zoomable">
                            <div class="apt-text">マップ</div>
                        </div>
                        <div class="apt-cell">
                            <img src="{% static 'database/images/dq1/item/taiyounomonshou/3.jpg' %}" class="zoomable">
                            <div class="apt-text">詳細マップ</div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="step-header">
                <div class="black-yellow-band text-center">関連記事</div>
            </div>

            <div class="step-content">
                <img src="{% static 'database/images/dq1/item/banner.jpg' %}">
                <div class="text-center mb-5">
                    <a href="{% url 'database:dq1_items_list' %}" class="btn-story-link">
                        ▶ アイテムトップへ戻る
                    </a>
                </div>

                <div class="step-number text-center">重要アイテム</div><br>

                <div class="text-2col-wrapper">
                    <div class="text-2col">
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'taiyounomonshou' %}">
                                    <div class="area-item">
                                        <div class="area-name">たいようの紋章</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'hoshinomonshou' %}">
                                    <div class="area-item">
                                        <div class="area-name">ほしの紋章</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'tukinomonshou' %}">
                                    <div class="area-item">
                                        <div class="area-name">つきの紋章</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'mizunomonshou' %}">
                                    <div class="area-item">
                                        <div class="area-name">みずの紋章</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'inotinomonshou' %}">
                                    <div class="area-item">
                                        <div class="area-name">いのちの紋章</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'youseinohue' %}">
                                    <div class="area-item">
                                        <div class="area-name">ようせいのふえ</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'ginnotategoto' %}">
                                    <div class="area-item">
                                        <div class="area-name">ぎんのたてごと</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'nizinosizuku' %}">
                                    <div class="area-item">
                                        <div class="area-name">虹のしずく</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'taiyounoishi' %}">
                                    <div class="area-item">
                                        <div class="area-name">たいようの石</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'hikarinotama' %}">
                                    <div class="area-item">
                                        <div class="area-name">ひかりのたま</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'touzokunokagi' %}">
                                    <div class="area-item">
                                        <div class="area-name">とうぞくのかぎ</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'mahounokagi' %}">
                                    <div class="area-item">
                                        <div class="area-name">まほうのかぎ</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'saigonokagi' %}">
                                    <div class="area-item">
                                        <div class="area-name">さいごのかぎ</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step-number text-center">たね・きのみ</div><br>

                <div class="text-2col-wrapper">
                    <div class="text-2col">
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'tikaranotane' %}">
                                    <div class="area-item">
                                        <div class="area-name">ちからのたね</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'mamorinotane' %}">
                                    <div class="area-item">
                                        <div class="area-name">まもりのたね</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'sutaminanotane' %}">
                                    <div class="area-item">
                                        <div class="area-name">スタミナのたね</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'kashikosanotane' %}">
                                    <div class="area-item">
                                        <div class="area-name">かしこさのたね</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'subayasanotane' %}">
                                    <div class="area-item">
                                        <div class="area-name">すばやさのたね</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'rakkunotane' %}">
                                    <div class="area-item">
                                        <div class="area-name">ラックのたね</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'inotinokinomi' %}">
                                    <div class="area-item">
                                        <div class="area-name">いのちのきのみ</div>
                                    </div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:item_detail' 'hushiginakinomi' %}">
                                    <div class="area-item">
                                        <div class="area-name">ふしぎなきのみ</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<footer class="site-footer">
    <div class="footer-title">
        マルチ攻略データベース
    </div>
    <div class="footer-links">
        <a href="{% url 'database:home' %}">ホーム</a> | 
        <a href="{% url 'database:dq1_guide' %}">DQ1 攻略</a> | 
        <a href="{% url 'database:dq2_guide' %}">DQ2 攻略</a>
    </div>
    <p>© 2025 マルチ攻略データベース. All rights reserved.</p>
</footer>

<script>
document.addEventListener('DOMContentLoaded', () => {

  // 画像拡大モーダル
  const modal = document.getElementById('image-modal');
  const modalImg = document.getElementById('modal-img');
  const closeBtn = document.querySelector('.modal .close');

  document.querySelectorAll('.zoomable').forEach(img => {
    img.addEventListener('click', () => {
      modal.style.display = 'flex'; // flexで中央表示
      modalImg.src = img.src;
    });
  });

  // 閉じるボタン
  closeBtn.onclick = () => { modal.style.display = 'none'; }

  // 背景クリックで閉じる
  window.onclick = (e) => { if (e.target === modal) modal.style.display = 'none'; }
});
</script>

{% endblock %}