{% extends 'database/base.html' %}
{% load static %}

{% block title %}ドラゴンクエストⅠ 第5章 攻略{% endblock %}

{% block content %}

  <!-- ページトップのカバー画像 -->
<div class="main-banner mb-4">
    <img src="{% static 'database/images/dq1_cover1.jpg' %}" alt="DQ1" class="top-image">
</div>

<div class="content-wrapper">
    <!-- サイドバー -->
    <aside class="sidebar">
        <h4>目次</h4>
        <ul class="toc-list main-toc">
            <li><a href="#story1">① リムルダールに移動して北西に進む</a></li>
            <li><a href="#story2">② 竜王の城に入る</a></li>
            <li><a href="#story3">③ 橋を架けたら道なりに進んで竜王の城に入りましょう</a></li>
            <li><a href="#story4">④ 玉座の裏を調べると階段が出現</a></li>
            <li><a href="#story5">⑤ 地下1階はマップの下の階段を目指す</a></li>
            <li><a href="#story6">⑥ 地下2階は南東の階段まで進む</a></li>
            <li><a href="#story7">⑦ 地下3階は北東にある階段を降りる</a></li>
            <li><a href="#story8">⑧ 地下3階に戻って西側の階段を下る</a></li>
            <li><a href="#story9">⑨ 地下4階は中央右側の階段を降りる</a></li>
            <li><a href="#story10">⑩ 地下4階に戻って中央左側の階段へ</a></li>
            <li><a href="#story11">⑪ 南東にある階段から地下2階に上がる</a></li>
            <li><a href="#story12">⑫ 階段を進んで「ロトのつるぎ」を入手</a></li>
            <li><a href="#story13">⑬ ロトシリーズを揃えると見た目が変化</a></li>
            <li><a href="#story14">⑭ 地下4階の北東にある階段を降りる</a></li>
            <li><a href="#story15">⑮ 地下5階の南にある階段から地下6階へ</a></li>
            <li><a href="#story16">⑯ 竜王の手前にある旅の扉を開く</a></li>
            <li><a href="#story17">⑰ 地下6階の北側にある宝箱を開ける</a></li>
            <li><a href="#story18">⑱ 地下6階で「はぐれメタル」を倒す</a></li>
            <li><a href="#story19">⑲ りゅうおうの問いに「はい」と答える</a></li>
            <li><a href="#story20">⑳ ボス戦「りゅうおう」</a></li>
            <li><a href="#story21">㉑ ボス戦「竜王」</a></li>
            <li><a href="#story22">㉒ 竜王戦後、ドムドーラにガライとゆきのふが出現</a></li>
            <li><a href="#story23">㉓ ラダトーム王に報告してエンディング</a></li>
            <li><a href="#story24">㉔ エンディング後にカットシーン</a></li>
            <li><a href="#story25">㉕ クリアデータはりゅうおう戦前から</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#story" class="btn-story-link">▶dq1ホームに戻る</a></li>
        </ul>
    </aside>

    <!-- メインコンテンツ -->
    <main class="main-content">

        <div class="story-header text-center my-3">
            <div class="black-yellow-band">竜王の城からラスボスまでの攻略チャート</div>
        </div>
        <div class="chart-image-wrapper">
           <img src="{% static 'database/images/dq1/chart5.jpg' %}" alt="チャート5" class="story-top-image">
        </div>

        <div class="story-info-grid">
            <div class="cell label">攻略目安</div>
            <div class="cell value">2時間</div>
            <div class="cell label">攻略レベル</div>
            <div class="cell value">38～41</div>
        </div>

        <div id="story1" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">① リムルダールに移動して北西に進む<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_1.jpg' %}" class="step-image">
                <div class="step-text">リムルダールに移動後、北西に進んで先端に行くと「虹のしずく」を使用して橋を架けることができます。<br>
                    これで竜王の城までの道ができます。
                </div>
            </div>
        </div><br>

        <div id="story2" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">② 竜王の城に入る<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_2.jpg' %}" class="step-image">
                <div class="step-text">橋を架けたら道なりに進んで竜王の城に入りましょう。</div>
            </div>
        </div><br>

        <div id="story3" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">③ 橋を架けたら道なりに進んで竜王の城に入りましょう。<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_3.jpg' %}" class="step-image">
                <div class="step-text">竜王の城に入ったら、左側から大回りをして中央の通路を通過します。<br>
                    竜王の城では「はぐれメタル」が出現するため、竜王と戦う前にレベル上げも行えます。<br>
                    1階の宝箱はすべてからっぽなので、スルーでOKです。
                </div>
            </div>
        </div><br>
        
        <div id="story4" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">④ 玉座の裏を調べると階段が出現<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_4.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・1階の奥にある玉座の裏を調べると、地下に繋がる階段が出現します。<br>
                    玉座の周りを歩くとダメージを受けるので、呪文「トラマナ」を使用してダメージを無効化しましょう。<br>
                    <br>
                    ちなみに、「ロトのよろい」を装備していれば床ダメージはくらいません。
                </div>
            </div>
        </div><br>

        <div id="story5" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑤ 地下1階はマップの下の階段を目指す<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_5.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下1階はマップの下にある階段を目指して進みます。<br>
                    ここの道中で拾えるアイテムはありません。
                </div>
            </div>
        </div><br>

        <div id="story6" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑥ 地下2階は南東の階段まで進む<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_6.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下2階は、南東にある階段を目指して進みましょう。<br>
                    道中にある宝箱から「はめつの盾」と「ふこうのかぶと」を入手できます。<br>
                    <br>
                    地下3階に続く階段の近くにある宝箱は「ミミック」です。
                </div>
            </div>
        </div><br>
        
        <div id="story7" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑦ 地下3階は北東にある階段を降りる<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_7.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下3階は、北東にある階段を目指して進みます。<br>
                    階段を降りた先の宝箱から「じごくのよろい」を入手しましょう。
                </div>
            </div>
        </div><br>

        <div id="story8" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑧ 地下3階に戻って西側の階段を下る<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_8.jpg' %}" class="step-image">
                <div class="step-text">じごくのよろいを入手後は、地下3階に戻って西側にある階段から地下4階へ進んでください。<br>
                    地下3階は他に502ゴールドとやくそう・ミミックしかないため、スルーでOKです。
                </div>
            </div>
        </div><br>

        <div id="story9" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑨ 地下4階は中央右側の階段を降りる<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_9.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下4階は中央に階段が2箇所ありますが、まずは右側の階段を降ります。<br>
                    降りた先にある宝箱から「ちいさなメダル」を入手できます。
                </div>
            </div>
        </div><br>

        <div id="story10" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑩ 地下4階に戻って中央左側の階段へ<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_10.jpg' %}" class="step-image">
                <div class="step-text">ちいさなメダルを入手後、地下4階に戻って中央左側の階段を上がって地下3階へ進みます。</div><br>
            </div>
        </div><br>

        <div id="story11" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑪ 南東にある階段から地下2階に上がる<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_4_11.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下3階に着いたら、南東にある地下2階に上がる階段を進みましょう。</div>
            </div>
        </div><br>

        <div id="story12" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑫ 階段を進んで「ロトのつるぎ」を入手<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_12.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下2階から道なりに階段を上がって進むと「ロトのつるぎ」を入手できます。<br>
                    ロトのつるぎを入手後は、来た道を戻って地下4階へ行きます。
                </div>
            </div>
        </div><br>
            

        <div id="story13" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑬ ロトシリーズを揃えると見た目が変化<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <div class="area-place-table">

                    <!-- ヘッダー行 -->
                    <div class="apt-row header-row">
                        <div class="apt-cell header-cell">変化前</div>
                        <div class="apt-cell header-cell">変化後</div>
                    </div>

                    <!-- 1行目 -->
                    <div class="apt-row">
                        <div class="apt-cell">
                            <img src="{% static 'database/images/dq1/dq1_5_13_1.jpg' %}" class="zoomable">
                        </div>
                        <div class="apt-cell">
                            <img src="{% static 'database/images/dq1/dq1_5_13_2.jpg' %}" class="zoomable">
                        </div>
                    </div>

                    <!-- 拡大モーダル -->
                    <div id="image-modal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="modal-img">
                    </div>
                </div>
                <div class="step-text">ロトシリーズの「ロトのつるぎ」「ロトの盾」「ロトのかぶと」「ロトのよろい」の4部位を装備すると勇者の見た目が変化します。<br>
                        また、トロフィー「よみがえる伝説」も入手できます。
                </div>
            </div>
        </div><br>

        <div id="story14" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑭ 地下4階の北東にある階段を降りる <span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_14.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下4階の北東にある階段から地下5階へ進みます。<br>
                    左上にある宝箱はミミックなのでスルーでOKです。
                </div>
            </div>
        </div><br>

        <div id="story15" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑮ 地下5階の南にある階段から地下6階へ<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_15.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下5階の南にある階段から地下6階へ進みます。<br>
                    マップ中央付近にある宝箱から「もろはのつるぎ」を入手でき、西側にある宝箱は「ミミック」です。
                </div>
            </div>
        </div><br>

        <div id="story16" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑯ 竜王の手前にある旅の扉を開く<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_16.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下6階の南東に「旅の扉」があるので、まずは旅の扉を目指しましょう。<br>
                    旅の扉を開けることで、竜王の城・1階と行き来が可能となり、竜王戦の準備ができます。
                </div>
            </div>
        </div><br>

        <div id="story17" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑰ 地下6階の北側にある宝箱を開ける<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_17.jpg' %}" class="step-image">
                <div class="step-text">竜王の城・地下6階の北側には宝箱が9個あります。<br>
                    一番左の列の真ん中の宝箱は「ミミック」なのでそこだけ開けないように注意してください。<br>
                    <br>
                    入手できるアイテムは、「ゴールド・やくそう・命の石・いのりのゆびわ・キメラのつばさ・呪いのベルト・ふしぎなきのみ」です。<br>
                    MP回復できるいのりのゆびわは貴重ですが、他はそこまで優先して取るべきアイテムではありません。
                </div>
            </div>
        </div><br>

        <div id="story18" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑱ 地下6階で「はぐれメタル」を倒す<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_18.jpg' %}" class="step-image">
                <div class="step-text">地下6階と地上が行き来しやすくなったことで簡単にHPMPを回復できるので、地下6階でレベル上げするのがおすすめです。<br>
                    地下6階ははぐれメタルの出現数が多いため、効率よくレベルを上げられます。
                </div>
            </div>
        </div><br>

        <div id="story19" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑲ りゅうおうの問いに「はい」と答える<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_19.jpg' %}" class="step-image">
                <div class="step-text">地下6階にいる「りゅうおう」に近づくとボス戦になりますが、りゅうおうの問いに2回「はい」と答えると、宿屋で目覚めるイベントが発生してトロフィーを入手できます。<br>
                    <br>
                    りゅうおうの問いに2回「いいえ」と答えるとボス「りゅうおう」戦が開始します。
                </div><br>
            </div>
        </div><br>

        <div id="story20" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">⑳ ボス戦「りゅうおう」<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <div class="step-number text-center">りゅうおう</div>
                <img src="{% static 'database/images/dq1/dq1_5_20.jpg' %}" class="step-image">
                <div class="battle-info">
                    <div class="info-grid">
                        <div class="info-label">推奨レベル</div>
                        <div class="info-label">出現場所</div>
                        <div class="info-value">40</div>
                        <div class="info-value">竜王の城</div>
                        <div class="info-label">HP</div>
                        <div class="info-label">宝</div>
                        <div class="info-value">約3200</div>
                        <div class="info-value"></div>
                    </div>
                    <div class="battle-points-section">
                        <h3 class="battle-points-title"><div class="step-number">りゅうおう戦の攻略ポイント</div></h3>
                        <div class="battle-points-box">
                            <div class="battle-point"><span class="checkmark">✔</span>炎軽減防具を装備してベギラゴン対策をする</div>
                            <div class="battle-point"><span class="checkmark">✔</span>めざましリングかロトの兜で眠り対策をする</div>
                            <div class="battle-point"><span class="checkmark">✔</span>みかわしきゃくで通常攻撃をかわす</div>
                            <div class="battle-point"><span class="checkmark">✔</span>回復しつつ通常攻撃でダメージを与えていく</div>
                            <div class="battle-point"><span class="checkmark">✔</span>竜王戦に向けてMPを温存できると◯</div>
                        </div>
                    </div>
                </div><br>
                <div class="step-text">りゅうおうは、物理攻撃とベギラゴンの炎呪文を使って攻撃してきます。<br>
                    「ロトの盾」「ガイアのよろい」「氷のイヤリング」の3つを装備することで、ベギラゴンを完全無効化できます。<br>
                    この3部位装備はのちの竜王戦でも非常に有効なので、あらかじめ入手しておくのがおすすめです。<br>
                    <br>
                    りゅうおうの物理攻撃は、みかわしきゃくを使って回避率を上げて対策しましょう。<br>
                    HPが減ってきたら回復して、それ以外はドラゴンキラーの通常攻撃か、ロトのつるぎの道具使用でダメージを与えていきます。<br>
                    <br>
                    このあと連戦となる竜王戦に備えて、なるべくMPを節約しながら戦いたいですが、念の為エルフののみぐすりやけんじゃのせいすいのようなMP回復アイテムを持ち込んでおくのもいいでしょう。
                </div><br><br>

                <div class="text-center mb-5">
                <a href="{% url 'database:dq1_ryuou' %}" class="btn-story-link">
                    ▶ りゅうおうの攻略と推奨レベルを見る
                </a>
            </div>
            </div>
        </div><br>

        <div id="story21" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">㉑ ボス戦「竜王」<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <div class="step-number text-center">竜王</div>
                <img src="{% static 'database/images/dq1/dq1_5_21.jpg' %}" class="step-image">
                <div class="battle-info">
                    <div class="info-grid">
                        <div class="info-label">推奨レベル</div>
                        <div class="info-label">出現場所</div>
                        <div class="info-value">40</div>
                        <div class="info-value">竜王の城</div>
                        <div class="info-label">HP</div>
                        <div class="info-label">宝</div>
                        <div class="info-value">約4800</div>
                        <div class="info-value"></div>
                    </div>
                    <div class="battle-points-section">
                        <h3 class="battle-points-title"><div class="step-number">竜王戦の攻略ポイント</div></h3>
                        <div class="battle-points-box">
                            <div class="battle-point"><span class="checkmark">✔</span>炎軽減防具を装備して炎攻撃を無効化する</div>
                            <div class="battle-point"><span class="checkmark">✔</span>かみくだくは大ぼうぎょかうけながしが安定</div>
                            <div class="battle-point"><span class="checkmark">✔</span>超絶技「ジゴスパーク」の麻痺付与が強力</div>
                            <div class="battle-point"><span class="checkmark">✔</span>やまびこのぼうしで攻守を安定させる</div>
                            <div class="battle-point"><span class="checkmark">✔</span>竜王がバフ呪文を2回使った後のかみつき攻撃に警戒</div>
                        </div>
                    </div>
                </div><br>
                <div class="step-text">竜王はラスボスに相応しいかなりの強敵ですが、装備による炎対策と行動パターンの把握をしておけば比較的簡単に勝てます。</div>

                <div class="video-container">
                    <video controls autoplay loop muted>
                        <source src="{% static 'database/images/dq1/dq1_5_21_1.mp4' %}" type="video/mp4">
                        お使いのブラウザは動画再生に対応していません。
                    </video>
                </div>

                <div class="step-text">竜王戦は全体を通して強力な炎攻撃を多用してきますが、「ロトの盾」「ガイアのよろい」「氷のイヤリング」の3つを装備することで、すべての炎攻撃を無効化できます。</div>

                <div class="video-container">
                    <video controls autoplay loop muted>
                        <source src="{% static 'database/images/dq1/dq1_5_21_2.mp4' %}" type="video/mp4">
                        お使いのブラウザは動画再生に対応していません。
                    </video>
                </div>

                <div class="step-text">竜王の行動パターンは固定です。<br>
                    竜王がバフ呪文(スクルト・バイキルト・ピオリム・ベホイム)を2連続で使った次のターンは確定で「かみくだく」2連続攻撃がきます。<br>
                    <br>
                    かみくだく連続攻撃はかなり痛いので、大ぼうぎょで被ダメを抑えるか、うけながしで反撃するのがおすすめです。
                </div>

                <div class="video-container">
                    <video controls autoplay loop muted>
                        <source src="{% static 'database/images/dq1/dq1_5_21_3.mp4' %}" type="video/mp4">
                        お使いのブラウザは動画再生に対応していません。
                    </video>
                </div>

                <div class="step-text">頭装備はやまびこのぼうしがおすすめです。<br>
                    ジゴスパーク2連による火力と、ベホイム2連による生存力を両立できる優秀な頭防具です。<br>
                    <br>
                    攻撃手段としては、やまびこのぼうしを装備した超絶技「ジゴスパーク」か、「竜王斬り」などがおすすめです。
                </div><br><br>

                <div class="text-center mb-5">
                <a href="{% url 'database:dq1_ryuou' %}" class="btn-story-link">
                    ▶ 竜王の攻略と推奨レベルを見る
                </a>
            </div>
            </div>
        </div><br>

        <div id="story22" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">㉒ 竜王戦後、ドムドーラにガライとゆきのふが出現<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <div class="area-place-table">

                    <!-- ヘッダー行 -->
                    <div class="apt-row header-row">
                        <div class="apt-cell header-cell">吟遊詩人ガライ</div>
                        <div class="apt-cell header-cell">ゆきのふ</div>
                    </div>

                    <!-- 1行目 -->
                    <div class="apt-row">
                        <div class="apt-cell">
                            <img src="{% static 'database/images/dq1/dq1_5_22_1.jpg' %}" class="zoomable">
                        </div>
                        <div class="apt-cell">
                            <img src="{% static 'database/images/dq1/dq1_5_22_2.jpg' %}" class="zoomable">
                        </div>
                    </div>

                    <!-- 拡大モーダル -->
                    <div id="image-modal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="modal-img">
                    </div>

                </div>
                <div class="step-text">竜王を倒したあと、エンディングを迎える前にドムドーラに行くと、幽霊の姿の吟遊詩人ガライとゆきのふが出現します。<br>
                        ちょっとした会話イベントが発生するので、寄り道してみましょう。
                    </div><br>
                <img src="{% static 'database/images/dq1/dq1_5_22_3.jpg' %}" class="step-image">
                <div class="step-text">また、竜王撃破後は町にいるNPCとの会話の内容が変化します。<br>
                    エンディングを迎える前に各地でNPCとの会話を楽しんでみるのもおすすめです。
                </div>
            </div>
        </div><br>

        <div id="story23" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">㉓ ラダトーム王に報告してエンディング<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_23.jpg' %}" class="step-image">
                <div class="step-text">竜王を撃破後、ラダトームにいる王さまに報告するとゲームクリアです。<br>
                    イベントシーンが流れてエンディングとなります。
                </div>
            </div>
        </div><br>

        <div id="story24" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">㉔ エンディング後にカットシーン<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_24_1.jpg' %}" class="step-image">
                <div class="step-text">エンディング後にドラクエ2に続くカットシーンが流れます。</div>
            </div>
        </div><br>

        <div id="story25" class="step-card"><br>
            <div class="step-header">
                <div class="step-number">㉔ クリアデータはりゅうおう戦前から<span class="toggle-icon">-</span></div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/dq1_5_24_2.jpg' %}" class="step-image">
                <div class="step-text">クリアデータをロードするとりゅうおう戦前から開始になります。</div>
            </div>
        </div><br>
    

    <div class="text-center mt-4 ">
        <a href="{% url 'database:dq1_section4_content' %}" class="text-decoration-none fw-bold ms-3">
            ◀ 前のチャートへ
        </a>
        
        <a href="{% url 'database:dq1_section6_content' %}" class="text-decoration-none fw-bold ms-3">
            次のチャートへ ▶
        </a>
    </div>

    <div class="text-start mt-4 mb-5">
        <a href="{% url 'database:dq1_story_list' %}" class="fw-bold text-primary text-decoration-none">
            ▶ ストーリー一覧へ
        </a>
    </div>

    <div class="text-start mt-4 mb-5">
        <a href="javascript:history.back()" class="text-decoration-none fw-bold">
            ◀ 戻る
        </a>
    </div>
    </main>

</div>

<footer class="site-footer">
    <div class="footer-title">
        マルチ攻略データベース
    </div>
    <div class="footer-links">
        <a href="{% url 'database:home' %}">ホーム</a> | 
        <a href="{% url 'database:dq1_guide' %}">DQ1 攻略</a> | 
        <a href="{% url 'database:dq2_guide' %}">DQ2 攻略</a>
    </div>
    <p>© 2025 マルチ攻略データベース. All rights reserved.</p>
</footer>

<!-- JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', () => {
  // ステップの開閉
  const headers = document.querySelectorAll('.step-header');
  headers.forEach(header => {
    header.addEventListener('click', () => {
      const card = header.parentElement;
      const icon = header.querySelector('.toggle-icon');
      card.classList.toggle('minimized');
      if (icon) icon.textContent = card.classList.contains('minimized') ? '+' : '-';
    });
  });

  // 画像拡大モーダル
  const modal = document.getElementById('image-modal');
  const modalImg = document.getElementById('modal-img');
  const closeBtn = document.querySelector('.modal .close');

  document.querySelectorAll('.zoomable').forEach(img => {
    img.addEventListener('click', () => {
      modal.style.display = 'flex'; // flexで中央表示
      modalImg.src = img.src;
    });
  });

  // 閉じるボタン
  closeBtn.onclick = () => { modal.style.display = 'none'; }

  // 背景クリックで閉じる
  window.onclick = (e) => { if (e.target === modal) modal.style.display = 'none'; }
});
</script>


{% endblock %}