{% extends 'database/base.html' %}
{% load static %}

{% block title %}クラフトピア ストーリー攻略一覧{% endblock %}

{% block content %}

<div class="main-banner mb-4 cropped-banner">
    <img src="{% static 'database/cp2_images/craftopia_cover1.jpg' %}" style=" display: block; margin: 0 auto; width: 97%; height: auto; " class="story-banner">
</div>

<div class="content-wrapper">
    <!-- サイドバー -->
    <aside class="sidebar">
        <h3 class="sidebar-section-title sub-nav-title" style="font-size:26px;">【ギーザの台地】</h3>
        <ul class="toc-list sub-toc">
            <li><a href="#tower">▶ 修復「ギーザ台地の塔」の必要素材</a></li>
            <li><a href="#sumisu">▶ 商人スミス【始まりの集落】</a></li>
            <li><a href="#worldlevel">▶ 時代進化</a></li>
            <li><a href="#boss">▶ ボス＆ダンジョン＆ポータル<br>＆洞窟の位置</a></li>
            <li><a href="#sekkeizu">▶ 設計図の位置</a></li>
            <li><a href="#ganban">▶ 岩盤一覧</a></li>
            <li><a href="{% url 'database:cp_guide' %}#story" class="btn-story-link">▶ 戻る</a></li>
    </aside>

<!-- メインコンテンツ -->
    <main class="main-content">
            <div id="tower"></div><br>
        <div style="margin-left: -15px; width: 104%;" class="story-header text-center my-3">
            <div class="black-yellow-band">修復「ギーザ台地の塔」の必要素材</div>
        </div>
            <div class="chart-image-wrapper">
                <img src="{% static 'database/cp2_images/giza1.jpg' %}" style="width: 80%; height: 500px;" alt="ストーリー" class="story-top-image">
            </div>

    <div class="step-content">
        <div class="step-header">
            <div class="step-number" style="margin-left: 5px;">修復「ギーザ台地の塔」の必要素材</div>
               
            <table class="tower-table" style="margin-left :-40px;">
                <thead>
                    <tr>
                        <th class="tw-1">進行度</th>
                        <th class="tw-2">必要素材1</th>
                        <th class="tw-3">必要素材2</th>
                        <th class="tw-4">必要素材3</th>
                        <th class="tw-5">必要素材4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1/3</td>
                        <td>石 50個</td>
                        <td>砂 10個</td>
                        <td>原木 50個</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2/3</td>
                        <td>ぼろ布 10個</td>
                        <td>羊毛 10個</td>
                        <td>革 10個</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3/3</td>
                        <td>銅鉱石 20個</td>
                        <td>小さな設置たいまつ 5個</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="sumisu"></div><br><br>
        <div style="margin-left: -15px; width: 104%;" class="black-yellow-band">商人スミス【始まりの集落】</div>
            <div class="chart-image-wrapper">
                <img src="{% static 'database/cp2_images/sumisu.jpg' %}" style="width: 100%; height: 400px;" alt="ストーリー" class="story-top-image">
            </div>

            <div class="step-content">
                <div class="step-header">
                    <div class="step-number" style="margin-left: 5px;">商人スミス（金）</div>
                    
                    <table class="sumisu1-table" style="margin-left :-40px;">
                        <thead>
                            <tr>
                                <th class="ys-1">商品名</th>
                                <th class="ys-2">分類</th>
                                <th class="ys-3">在庫数</th>
                                <th class="ys-4">値段</th>
                                <th class="ys-5">販売開始</th>
                            </tr>
                        </thead>
                        <tbody>
                			<tr> 
								<td>原木</td>
								<td>素材</td>
								<td>100</td>
								<td>10</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>石</td>
								<td>素材</td>
								<td>100</td>
								<td>10</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>ぼろ布</td>
								<td>素材</td>
								<td>100</td>
								<td>50</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>枝の矢</td>
								<td>素材</td>
								<td>100</td>
								<td>10</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>ブロードソード</td>
								<td>武器</td>
								<td>1</td>
								<td>100</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>パン</td>
								<td>料理</td>
								<td>100</td>
								<td>25</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>ポテトの種芋</td>
								<td>種</td>
								<td>100</td>
								<td>50</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>テレポーション</td>
								<td>消費アイテム</td>
								<td>100</td>
								<td>100</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>レイピア</td>
								<td>武器</td>
								<td>1</td>
								<td>500</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>松葉杖</td>
								<td>武器</td>
								<td>1</td>
								<td>500</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>ツヴァイヘンダー</td>
								<td>武器</td>
								<td>1</td>
								<td>500</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>ピッチフォーク</td>
								<td>武器</td>
								<td>1</td>
								<td>500</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>焼き魚</td>
								<td>料理</td>
								<td>100</td>
								<td>100</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>ステーキ</td>
								<td>料理</td>
								<td>100</td>
								<td>100</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>小さなライフポーション</td>
								<td>消費アイテム</td>
								<td>100</td>
								<td>100</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>木の矢</td>
								<td>矢弾</td>
								<td>100</td>
								<td>20</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>ホバーボード</td>
								<td>乗り物</td>
								<td>10</td>
								<td>700</td>
								<td>WLV2～</td>
							</tr>
							<tr> 
								<td>木刀</td>
								<td>武器</td>
								<td>1</td>
								<td>500</td>
								<td>WLV3～</td>
							</tr>
							<tr> 
								<td>ランタン</td>
								<td>アクセサリー</td>
								<td>1</td>
								<td>500</td>
								<td>WLV3～</td>
							</tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="step-content">
                <div class="step-header">
                    <div class="step-number" style="margin-left: 5px;">商人スミス（ポテト）</div>
                    
                    <table class="sumisu1-table" style="margin-left :-40px;">
                        <thead>
                            <tr>
                                <th class="ys-1">商品名</th>
                                <th class="ys-2">分類</th>
                                <th class="ys-3">在庫数</th>
                                <th class="ys-4">値段</th>
                                <th class="ys-5">販売開始</th>
                            </tr>
                        </thead>
                        <tbody>
            				<tr> 
								<td>ポテトの種</td>
								<td>種</td>
								<td>100</td>
								<td>1ポテト</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>農園</td>
								<td>建築物</td>
								<td>20</td>
								<td>50ポテト</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>植物プランターの設計図</td>
								<td>設計図(建築物)</td>
								<td>1</td>
								<td>25ポテト</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>井戸の設計図</td>
								<td>設計図(建築物)</td>
								<td>1</td>
								<td>50ポテト</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>EXPポーション100ml</td>
								<td>消費アイテム</td>
								<td>1</td>
								<td>50ポテト</td>
								<td>最初から</td>
							</tr>
							<tr> 
								<td>種もみ</td>
								<td>種</td>
								<td>100</td>
								<td>5ポテト</td>
								<td>WLV2～</td>
							</tr>
                        </tbody>
                    </table>
                </div>
            </div>

    <div id="worldlevel"></div><br><br>
        <div style="margin-left: -15px; width: 104%;" class="black-yellow-band">時代進化</div>
            <div class="chart-image-wrapper">
                <img src="{% static 'database/cp2_images/giza_zs.jpg' %}" style="width: 100%; height: 400px;" alt="ストーリー" class="story-top-image">
            </div>

    <div class="step-content">
        <div class="step-header">
            <div  class="step-number" style="margin-left: 5px;">時代進化(農耕の時代（開拓の時代)</div>
               
            <table class="time-table" style="margin-left :-40px;">
                <thead>
                    <tr>
                        <th class="tm-1">進行度</th>
                        <th class="tm-2">ゴールド</th>
                        <th class="tm-3">必要素材1</th>
                        <th class="tm-4">必要素材2</th>
                        <th class="tm-5">必要素材3</th>
                        <th class="tm-6">必要素材4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1/10</td>
                        <td>なし</td>
                        <td>クローバーx1</td>
                        <td>台地のムーンストーン</td>
                        <td>アイアンウッドx1</td>
                        <td>台地の古代人形の破片x1</td>
                    </tr>
                    <tr>
                        <td>2/10</td>
                        <td>500ゴールド</td>
                        <td>クローバーx5</td>
                        <td>大地のムーンストーンx20</td>
                        <td>アイアンウッドx20</td>
                        <td>台地の古代人形の破片x5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

            <div id="boss"></div><br><br>
        <div style="margin-left: -15px; width: 104%;" class="black-yellow-band">ボス＆ダンジョン＆ポータル＆洞窟の位置</div>
            <div class="chart-image-wrapper">
                <img src="{% static 'database/cp2_images/giza_bs.jpg' %}" style="width: 100%; height: 400px;" alt="ストーリー" class="story-top-image">
            </div>
        
    <div class="step-content">
        <div class="step-header">
                <div class="step-number" style="margin-left: 5px;">ボスダンジョンの位置</div>         

            <table class="doukutu-table" style="margin-left :-40px;">
                <thead>
                    <tr>
                        <th class="dc-1">はじまりの遺跡</th>
                        <th class="dc-2">挑戦可能なLv</th>
                        <th class="dc-3">雑魚lv</th>
                        <th class="dc-4">ボス</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                        <td>Story</td>
                        <td>最初から</td>
                        <td>Lv7～10</td>
                        <td>サテュロスLv10</td>
                    </tr>
                    <tr>
                        <td>Easy(周回)</td>
                        <td>最初から</td>
                        <td>なし</td>
                        <td>サテュロスLv10</td>
                    </tr>
                    <tr>
                        <td>Normal(周回)</td>
                        <td>WLv3～</td>
                        <td>なし</td>
                        <td>サテュロスLv20</td>
                    </tr>
                    <tr>
                        <td>Hard(周回)</td>
                        <td>WLv5～</td>
                        <td>なし</td>
                        <td>サテュロスLv30</td>
                    </tr>
                    <tr>
                        <td>Hell(周回)</td>
                        <td>WLv7～</td>
                        <td>なし</td>
                        <td>サテュロスLv50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

           
        <div id="boss"></div>
    <div class="step-content">
        <div class="step-header">
            <div  class="step-number" style="margin-left: 5px;">洞窟の位置</div>
               
            <table class="doukutu-table" style="margin-left :-40px;">
                <thead>
                    <tr>
                        <th class="dc-1">ダンジョン名</th>
                        <th class="dc-2">大体の座標</th>
                        <th class="dc-3">ダンジョン内容</th>
                        <th class="dc-4">報酬</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>烏合の王の洞窟</td>
                        <td>-2774, 83, -1578付近(A)</td>
                        <td>キングモノ(Lv15)<br>ゴブリンアーチャー(Lv2～4程度)x4</td>
                        <td>騙しのペット秘伝書</td>
                    </tr>
                    <tr>
                        <td>空渡りの洞窟</td>
                        <td>-2273, 154, -1478付近(B)</td>
                        <td>回転する柱や板を飛びすすむアスレチック</td>
                        <td>EXPポーション100ml</td>
                    </tr>
                    <tr>
                        <td>岩運びの洞窟</td>
                        <td>-1907, 6, -1147付近(C)</td>
                        <td>置く場所は扉左にある台の上にあり、見えにくいので注意</td>
                        <td>刈り取り機の設計図</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

            
            <div id="sekkeizu"></div><br><br>
        <div style="margin-left: -15px; width: 104%;" class="black-yellow-band">設計図の位置</div>
            <div class="chart-image-wrapper">
                <img src="{% static 'database/cp2_images/giza_sk.jpg' %}" style="width: 80%; height: 400px;" alt="ストーリー" class="story-top-image">
            </div>

        
    <div class="step-content">
        <div class="step-header">
            <table class="treasure-table" style="margin-left :-40px;">
                <thead>
                    <tr>
                        <th class="tz-1">設計図の位置</th>
                        <th class="tz-2">座標</th>
                        <th class="tz-3">備考</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A | 木の棒の設計図</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>B | 野球帽の設計図</td>
                        <td>-2037,159,-1333</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>C | ホースキラーの設計図</td>
                        <td>-1825,26,-1418</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>D | パストラルスタッフの設計図</td>
                        <td>-2263,158,-1583</td>
                        <td>エンシェントゴーレムLv10</td>
                    </tr>
                    <tr>
                        <td>E | ライトアーマー 赤♂の設計図</td>
                        <td>-2311,130,-1709</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>E | ライトアーマー 赤♀の設計図</td>
                        <td>-2311,130,-1709</td>
                        <td>2種</td>
                    </tr>
                    <tr>
                        <td>F | 暗黒騎士の剣の設計図</td>
                        <td>-2717,70,1700</td>
                        <td>エンシェントゴーレムLv10</td>
                    </tr>
                    <tr>
                        <td>G | 蛮族の石刀の設計図</td>
                        <td>-2577,167,-1407</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>H |ケープ 橙♂の設計図</td>
                        <td>-2479,211,-1508</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>H |ケープ 橙♀の設計図</td>
                        <td>-2479,211,-1508</td>
                        <td>2種</td>
                    </tr>
                    <tr>
                        <td>I |マムルークソードの設計図</td>
                        <td>-2800,133,-962</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

            <div id="sumisu"></div><br><br>
        <div style="margin-left: -15px; width: 104%;" class="black-yellow-band">岩盤の位置</div>
            <div class="chart-image-wrapper">
                <img src="{% static 'database/cp2_images/giza_gb.jpg' %}" style="width: 80%; height: 400px;" alt="ストーリー" class="story-top-image">
            </div>



    </main>

{% endblock %}