{% extends 'database/base.html' %}
{% load static %}

{% block title %}クラフトピア ストーリー攻略一覧{% endblock %}

{% block content %}
<div class="main-banner mb-4">
    <img src="{% static 'database/cp_images/craftopia_cover1.jpg' %}" width="95%" height="50%" alt="CP" class="top-image">
</div>

<div class="content-wrapper">
    <!-- サイドバー -->
    <aside class="sidebar">
        <h3 class="sidebar-section-title sub-nav-title" style="font-size:25px;">【生活スキル】</h3>
        <ul class="toc-list sub-toc">
            <li><a href="#skill1">▶ Tier1</a></li>
            <li><a href="#skill2">▶ Tier2</a></li>
            <li><a href="#skill3">▶ Tier3</a></li>
            <li><a href="#skill4">▶ Tier4</a></li>
            <li><a href="#skill5">▶ Tier5</a></li>
            <li><a href="{% url 'database:cp_guide' %}#skill" class="btn-story-link">▶ 戻る</a></li>
        </ul>
    </aside>



<main class="main-content">
        
    <div id="skill"></div><br>
        <div class="story-header text-center my-3">
            <div class="black-yellow-band" style="width: 102%; margin-left: -1%;">生活スキル一覧</div>
        </div>

    <div id="skill"></div>
        <div class="step-content">
            <div class="step-header">
            </div>
        
            <div class="step-body">
                <img src="{% static 'database/cp_images/sks(34).jpg' %}" style="width: 700px; margin-left: 15px;">
            
            <div id="skill1"></div><br><br>    
            <div class="black-yellow-band" style="width: 110%; margin-left: -5%;">Tier1</div>
                <table style="margin-left:-27px;" class="cp-custom-table3">
                    <thead>
                        <tr>
                            <th class="col-1">スキル名</th>
                            <th class="col-2">Max<br>Lv</th>
                            <th class="col-3">種別</th>
                            <th class="col-4">消費<br>マナ</th>
                            <th class="col-5">その他コスト</th>
                            <th class="col-6">クールダウン</th>
                            <th class="col-7">効果時間</th>
                            <th class="col-8">簡易説明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
							<td>アルケミックポーション?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>15</td>
							<td>-</td>
							<td>120</td>
							<td>-</td>
							<td>ライフを小回復する薬を生成する。</td>
						</tr>
						<tr>
							<td>ギャザラーズフレンジー?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>25</td>
							<td>-</td>
							<td>180</td>
							<td>30</td>
							<td>一定時間、天然の木や石へのダメージが増加するが、攻撃する度にライフが減少する。</td>
						</tr>
						<tr>
							<td>睡眠?</td>
							<td>3</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>ベッドで寝てライフとマナを回復する。</td>
						</tr>
						<tr>
							<td>コンパニオンプランツ?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>-</td>
							<td>-</td>
							<td>180～30</td>
							<td>-</td>
							<td>木に触れてライフを回復する。</td>
						</tr>
						<tr>
							<td>木こりの早業?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>斧の効率が向上する。</td>
						</tr>
						<tr>
							<td>鉱夫の早業?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>ツルハシの効率が向上する。</td>
						</tr>
						<tr>
							<td>二本釣り?</td>
							<td>3</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>釣り成功時、2匹同時に釣り上げることがある。</td>
						</tr>
						<tr>
							<td>金の亡者?</td>
							<td>4</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>死んだとき、お金の減少
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="step-content">
            <div class="step-header">
                <div id="skill2"></div><br><br>    
            <div class="black-yellow-band" style="width: 110%; margin-left: -5%;">Tier2</div>
                <table style="margin-left: -35px;" class="cp-custom-table3">
                    <thead>
                        <tr>
                            <th class="col-1">スキル名</th>
                            <th class="col-2">Max<br>Lv</th>
                            <th class="col-3">種別</th>
                            <th class="col-4">消費<br>マナ</th>
                            <th class="col-5">その他コスト</th>
                            <th class="col-6">クールダウン</th>
                            <th class="col-7">効果時間</th>
                            <th class="col-8">簡易説明</th>
                        </tr>
                    </thead>
                    <tbody>
                		<tr>
							<td>打ち出の小槌?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>10</td>
							<td>-</td>
							<td>5</td>
							<td>-</td>
							<td>敵や物を攻撃するたびにお金を獲得する。</td>
						</tr>
						<tr>
							<td>サクリファイスディナー?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>-</td>
							<td>-</td>
							<td>45</td>
							<td>-</td>
							<td>チャーム状態のエネミーまたはペットを食べて、ライフ、マナと満腹度を回復する。チャーム状態のエネミーを食べた場合は一定の確率でアイテムがドロップすることがある。経験値は得られない。</td>
						</tr>
						<tr>
							<td>フレッシュアルケミー?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>10%</td>
							<td>錬金の触媒?</td>
							<td>5</td>
							<td>-</td>
							<td>周囲のアイテムを別の食物系アイテムに変換する。触媒として「錬金の触媒」が必要。失敗するとアイテムは「砂」に変わる。</td>
						</tr>
						<tr>
							<td>サバイバリスト?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>素手で伐採、採掘をする時のダメージが大きく増加する。</td>
						</tr>
						<tr>
							<td>遠泳?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>泳いでいるとき、スタミナ消費率を軽減する。</td>
						</tr>
						<tr>
							<td>木こりの目利き?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>木を切った時、確率で追加の木を入手する。</td>
						</tr>
						<tr>
							<td>鉱夫の目利き?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>石を叩いた時、確率で追加の石を入手する。</td>
						</tr>
						<tr>
							<td>賞金稼ぎ?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>敵を倒した時に追加でお金を得られることがある。</td>
						</tr>
						<tr>
							<td>潜水士?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>7～4.5</td>
							<td>泳いでいるとき、稀にアイテムを見つけることがある。また確率でレアなエンチャントが付くことがある。</td>
						</tr>
						<tr>
							<td>作業効率化?</td>
							<td>3</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>インベントリからのクラフトと修理に掛かる時間を短縮する。</td>
						</tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="step-content">
            <div class="step-header">
                <div id="skill3"></div><br><br>    
            <div class="black-yellow-band" style="width: 110%; margin-left: -5%;">Tier3</div>
                <table style="margin-left: -35px;" class="cp-custom-table3">
                    <thead>
                        <tr>
                            <th class="col-1">スキル名</th>
                            <th class="col-2">Max<br>Lv</th>
                            <th class="col-3">種別</th>
                            <th class="col-4">消費<br>マナ</th>
                            <th class="col-5">その他コスト</th>
                            <th class="col-6">クールダウン</th>
                            <th class="col-7">効果時間</th>
                            <th class="col-8">簡易説明</th>
                        </tr>
                    </thead>
                    <tbody>
                		<tr>
							<td>栄養吸収?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>40</td>
							<td>-</td>
							<td>180</td>
							<td>60</td>
							<td>次に食べる料理のバフ効果を増加させる。</td>
						</tr>
						<tr>
							<td>爆破信号?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>-</td>
							<td>-</td>
							<td>120</td>
							<td>-</td>
							<td>最後に設置した建物を爆破する。価値の高い建物ほど威力が増加する。</td>
						</tr>
						<tr>
							<td>銭投げ?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>-</td>
							<td>-</td>
							<td>90</td>
							<td>-</td>
							<td>身銭を切って敵にダメージを与える。</td>
						</tr>
						<tr>
							<td>マルチデプロイ?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>2</td>
							<td>-</td>
							<td>5</td>
							<td>-</td>
							<td>装備中の建物を一度に複数個使用し、雑にたくさん並べる。使用できない建物や角度制限がある建物があるので注意。</td>
						</tr>
						<tr>
							<td>大規模開発?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>-</td>
							<td>-</td>
							<td>120</td>
							<td>-</td>
							<td>床や畑を一度に並べて置く。</td>
						</tr>
						<tr>
							<td>小遣い?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>建物からアイテムを回収したとき、アイテムの売値の一部のお金を獲得する。</td>
						</tr>
						<tr>
							<td>倹約家?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>消費アイテムを使った時、アイテムを消費しないことがある。</td>
						</tr>
						<tr>
							<td>反芻?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>食事をしたとき、アイテムを消費しないことがある。</td>
						</tr>
						<tr>
							<td>グルメ?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>食事をしたとき、食事による効果が増加することがある。</td>
						</tr>
						<tr>
							<td>宝探し?</td>
							<td>3</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>宝箱を開けたとき、追加の報酬を得ることがある。</td>
						</tr>
						<tr>
							<td>難燃性?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>炎ダメージを軽減する。</td>
						</tr>
						<tr>
							<td>隠し味?</td>
							<td>3</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>料理の効果が大幅に上昇する。</td>
						</tr>
						<tr>
							<td>異物混入?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>食事をしたとき、稀にアイテムを見つけることがある。高ランクの食べ物を食べた時程、エンチャントが付与されやすい。</td>
						</tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="step-content">
            <div class="step-header">
                <div id="skill4"></div><br><br>    
            <div class="black-yellow-band" style="width: 110%; margin-left: -5%;">Tier4</div>
                <table style="margin-left: -35px;" class="cp-custom-table3">
                    <thead>
                        <tr>
                            <th class="col-1">スキル名</th>
                            <th class="col-2">Max<br>Lv</th>
                            <th class="col-3">種別</th>
                            <th class="col-4">消費<br>マナ</th>
                            <th class="col-5">その他コスト</th>
                            <th class="col-6">クールダウン</th>
                            <th class="col-7">効果時間</th>
                            <th class="col-8">簡易説明</th>
                        </tr>
                    </thead>
                    <tbody>
        				<tr>
							<td>ファーティライズ?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>50</td>
							<td>栄養剤?</td>
							<td>180</td>
							<td>-</td>
							<td>周囲の作物の成長を早める。最大9つの小麦畑や農園に影響を及ぼす。触媒として栄養剤が必要。</td>
						</tr>
						<tr>
							<td>祈り?</td>
							<td>6</td>
							<td>アクティブ</td>
							<td>-</td>
							<td>満腹度1%</td>
							<td>150</td>
							<td>-</td>
							<td>祈りを捧げて自身にランダムなバフを付与する。触媒として聖水が必要。</td>
						</tr>
						<tr>
							<td>太公望?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>どこでも釣りが出来るようになる。</td>
						</tr>
						<tr>
							<td>商魂?</td>
							<td>6</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>アイテム購入や修理、品種改良などに必要なお金が少なくなる。</td>
						</tr>
						<tr>
							<td>熟練修理士?</td>
							<td>3</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>インベントリからの修理でアイテムの耐久度が減少する確率を軽減する。</td>
						</tr>
						<tr>
							<td>採集生活?</td>
							<td>3</td>
							<td>パッシブ</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>採集から得られる経験値が増加する。</td>
						</tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="step-content">
            <div class="step-header">
                <div id="skill5"></div><br><br>    
            <div class="black-yellow-band" style="width: 110%; margin-left: -5%;">Tier5</div>
                <table style="margin-left: -35px;" class="cp-custom-table3">
                    <thead>
                        <tr>
                            <th class="col-1">スキル名</th>
                            <th class="col-2">Max<br>Lv</th>
                            <th class="col-3">種別</th>
                            <th class="col-4">消費<br>マナ</th>
                            <th class="col-5">その他コスト</th>
                            <th class="col-6">クールダウン</th>
                            <th class="col-7">効果時間</th>
                            <th class="col-8">簡易説明</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                              <td>チューンアップ?</td>
                              <td>6</td>
                              <td>アクティブ</td>
                              <td>50</td>
                              <td>-</td>
                              <td>180</td>
                              <td>-</td>
                              <td>周囲の建物のクラフトを早める。最大9つの建物に影響を及ぼす。</td>
                         </tr>
                         <tr>
                              <td>ネイティブアルケミー?</td>
                              <td>6</td>
                              <td>アクティブ</td>
                              <td>25%</td>
                              <td>-</td>
                              <td>5</td>
                              <td>-</td>
                              <td>周囲のアイテムを「錬金の触媒?」に変換する。触媒は必要ない。失敗するとアイテムは「砂」に変わる。</td>
                         </tr>
                         <tr>
                              <td>習慣化?</td>
                              <td>6</td>
                              <td>パッシブ</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>アイテムクールダウンを短縮する。</td>
                         </tr>
                    </tbody>
                </table>
            </div>
        </div>

</main>

{% endblock %}