{% extends 'database/base.html' %}
{% load static %}

{% block title %}ドラゴンクエストⅠ ラダトーム西の島{% endblock %}

{% block content %}

<div class="main-banner mb-4">
    <img src="{% static 'database/images/dq1_cover1.jpg' %}" alt="DQ1" class="top-image">
</div>

<div class="content-wrapper">
    <!-- サイドバー -->
    <aside class="sidebar">
        <h4>目次</h4>
        <ul class="toc-list main-toc">
            <li><a href="{% url 'database:dq1_guide' %}#story">▶ ストーリー攻略</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#boss">▶ ボス攻略</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#items">▶ アイテム</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#map">▶ マップ</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#scrolls">▶ 巻物</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#monster">▶ モンスター</a></li>
            <li><a href="{% url 'database:dq1_guide' %}#medal">▶ お役立ち機能</a></li>
        </ul>
    </aside>



    <!-- ===== メインコンテンツ ===== -->
    <main class="main-content">
        <div class="step-content">
            <img src="{% static 'database/images/dq1/map/radato-munishinoshima/banner.jpg' %}" class="step-image">
        </div><br><br><br>
        <div class="step-card">
            <div class="step-header">
                <div class="black-yellow-band text-center">ラダトーム西の島のマップと宝箱</div>
            </div>
            <div class="step-content">
                <img src="{% static 'database/images/dq1/map/radato-munishinoshima/1.jpg' %}" class="step-image">
                <div class="step-text">ラダトーム西の島は、吟遊詩人ザライのイベントを進めていくと行けるようになるマップです。<br>
                    <br>
                    『ドラクエ1リメイク』には船のような移動手段が存在しないため、このイベントを進めないと行くことはできません。
                </div><br><br>
                <div class="step-number text-center">入手できる宝箱とアイテム</div><br>
                <div class="area-block">
                    <div class="area-title">ラダトーム西の島</div>
                    <div class="area-table-3col-wrapper">
                        <div class="area-table-3col">
                            <div class="area-row">
                                <div class="area-cell">
                                    <div class="area-item">
                                        <img class="zoomable"  src="{% static 'database/images/dq1/map/radato-munishinoshima/2.jpg' %}">
                                        <div class="area-name">小さなメダル</div>
                                    </div>
                                </div>
                                <div class="area-cell">
                                    <div class="area-item">
                                        <img class="zoomable"  src="{% static 'database/images/dq1/map/radato-munishinoshima/3.jpg' %}">
                                        <div class="area-name">ロトのかぶと</div>
                                    </div>
                                </div>
                                <div class="area-cell">
                                    <div class="area-item">
                                        <img class="zoomable"  src="{% static 'database/images/dq1/map/radato-munishinoshima/4.jpg' %}">
                                        <div class="area-name">いやしの双葉</div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        <div id="imgModal" class="modal-new">
                            <span class="close">&times;</span>
                            <img class="modal-new-content" id="imgInModal">
                        </div>
                    </div>
                </div>
                <div class="step-text">ラダトーム西の島では、最強クラスの頭防具である「ロトのかぶと」を入手できます。<br>
                    <br>
                    また、小さなメダルも拾えるため、小さなメダルのコンプリートにも必須のマップになっています。
                </div>
            </div>

            <div class="step-header">
                <div class="black-yellow-band text-center">ラダトーム西の島の小さなメダルの場所</div>
            </div>

            <div class="step-content">
                <div class="area-place-table">

                    <!-- ヘッダー行 -->
                    <div class="apt-row header-row">
                        <div class="apt-cell header-cell">エリア</div>
                        <div class="apt-cell header-cell">場所詳細</div>
                    </div>

                    <div class="apt-row">
                        <div class="apt-cell">
                            <img src="{% static 'database/images/dq1/map/radato-munishinoshima/5.jpg' %}" class="zoomable">
                            <div class="apt-text">ラダトーム西の島</div>
                        </div>
                        <div class="apt-cell">
                            <img src="{% static 'database/images/dq1/map/radato-munishinoshima/6.jpg' %}" class="zoomable">
                            <div class="apt-text">北側の埠頭の先端の足元<br>
                                ※吟遊詩人ザライのイベントを最後まで進めた後
                            </div>
                        </div>
                    </div>

                    <div id="image-modal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="modal-img">
                    </div>
                </div>
                <div class="step-text text-center">ラダトーム西の島の小さなメダルは、北側の埠頭の先端の足元にあります。<br>
                    気が付きにくい場所にあるので、取り逃がさないよう注意しましょう。
                </div><br>
            </div>
        </div><br>

        <div class="step-card">
            <div class="step-header">
                <div class="black-yellow-band text-center">関連記事</div>
            </div>

            <div class="step-header">
                <div class="text-center mb-4">
                    <img src="{% static 'database/images/dq1_map_banner1.jpg' %}" class="story-banner rounded shadow-lg">
                </div>
            </div>
            <div class="text-center mb-5">
                <a href="{% url 'database:dq1_map_list' %}" class="btn-story-link">
                    ▶ マップ一覧
                </a>
            </div>

            <div class="step-content">
                <div class="area-block">
                <div class="area-table-2col-wrapper">   
                    <div class="area-title">ダンジョン</div>
                    <div class="area-table-2col">
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_rotonodoukutu' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map2.jpg' %}" class="area-image">
                                    <div class="area-name">ロトの洞窟</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_amenohokora' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map3.jpg' %}" class="area-image">
                                    <div class="area-name">雨のほこら</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_iwayamanodoukutu' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map4.jpg' %}" class="area-image">
                                    <div class="area-name">岩山の洞窟</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_numatinodoukutu' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map5.jpg' %}" class="area-image">
                                    <div class="area-name">沼地の洞窟</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_dowa-hunodoukutu' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map6.jpg' %}" class="area-image">
                                    <div class="area-name">ドワーフの洞窟</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_mayoinomori' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map7.jpg' %}" class="area-image">
                                    <div class="area-name">迷いの森</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_iwanakishima' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map8.jpg' %}" class="area-image">
                                    <div class="area-name">岩泣き島</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_domudo-ra' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map9.jpg' %}" class="area-image">
                                    <div class="area-name">ドムドーラ</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_garainohaka' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map10.jpg' %}" class="area-image">
                                    <div class="area-name">ガライの墓</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_ryuounoshiro' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map11.jpg' %}" class="area-image">
                                    <div class="area-name">竜王の城</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="area-block">
                <div class="area-table-2col-wrapper">
                    <div class="area-title">町・村</div>
                    <div class="area-table-2col">
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_radato-mu' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map12.jpg' %}" class="area-image">
                                    <div class="area-name">ラダトーム</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_maira' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map13.jpg' %}" class="area-image">
                                    <div class="area-name">マイラ</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_garai' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map14.jpg' %}" class="area-image">
                                    <div class="area-name">ガライ</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_youseinokakurezato' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map15.jpg' %}" class="area-image">
                                    <div class="area-name">妖精の隠れ里</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_rimuruda-ru' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map16.jpg' %}" class="area-image">
                                    <div class="area-name">リムルダール</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_medaruounoshiro' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map17.jpg' %}" class="area-image">
                                    <div class="area-name">メダル王の城</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_merukido' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map18.jpg' %}" class="area-image">
                                    <div class="area-name">メルキド</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <div class="area-name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="area-block">
                <div class="area-table-2col-wrapper">
                    <div class="area-title">その他</div>
                    <div class="area-table-2col">
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_tabibitonokyoukai' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map19.jpg' %}" class="area-image">
                                    <div class="area-name">旅人の教会</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_wasureraretahaikyo' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map20.jpg' %}" class="area-image">
                                    <div class="area-name">忘れられた廃墟</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_kaidounoyadoya' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map21.jpg' %}" class="area-image">
                                    <div class="area-name">街道の宿屋</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_namonakihaikyo' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map22.jpg' %}" class="area-image">
                                    <div class="area-name">名もなき廃墟</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_himitunohanabatake' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map23.jpg' %}" class="area-image">
                                    <div class="area-name">ひみつの花畑</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_tabibitonoyadoya' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map24.jpg' %}" class="area-image">
                                    <div class="area-name">旅人の宿屋</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_seireinohokora' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map25.jpg' %}" class="area-image">
                                    <div class="area-name">精霊のほこら</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_seinaruhokora' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map26.jpg' %}" class="area-image">
                                    <div class="area-name">聖なるほこら</div>
                                </a>
                            </div>
                        </div>
                        <div class="area-row">
                            <div class="area-cell">
                                <a href="{% url 'database:dq1_radato-munishinoshima' %}">
                                    <img src="{% static 'database/images/dq1/map/dq1_map27.jpg' %}" class="area-image">
                                    <div class="area-name">ラダトーム西の島</div>
                                </a>
                            </div>
                            <div class="area-cell">
                                <div class="area-name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- フッター -->
<footer class="site-footer">
    <div class="footer-title">
        マルチ攻略データベース
    </div>
    <div class="footer-links">
        <a href="{% url 'database:home' %}">ホーム</a> | 
        <a href="{% url 'database:dq1_guide' %}">DQ1 攻略</a> | 
        <a href="{% url 'database:dq2_guide' %}">DQ2 攻略</a>
    </div>
    <p>© 2025 マルチ攻略データベース. All rights reserved.</p>
</footer>

<script>
document.querySelectorAll('.zoomable').forEach(img => {
  img.addEventListener('click', e => {
    const modal = document.getElementById('imgModal');
    const modalImg = document.getElementById('imgInModal');
    modal.style.display = 'flex';
    modalImg.src = e.target.src;
    document.body.style.overflow = 'hidden';
  });
});

document.querySelector('.modal-new .close').onclick = () => {
  const modal = document.getElementById('imgModal');
  modal.style.display = 'none';
  document.body.style.overflow = 'auto';
};

window.addEventListener('click', e => {
  const modal = document.getElementById('imgModal');
  if (e.target === modal) {
    modal.style.display = 'none';
    document.body.style.overflow = 'auto';
  }
});
</script>



{% endblock %}